body {
    padding: 25;
    margin: 25;
    font-family: 'verdana', sans-serif;
    background-image: url('breast-cancer-ribbon-small.jpg');
    background-repeat: repeat;
}
  
#map,
body,
html {
    height: 100%;
}

h1 {
    color:RGB(137,33,94);
    font-family: 'verdana', sans-serif
}

h2 {
    color: RGB(147,37,68);
    font-style: italic;

}

.container {
    background-color: rgba(255, 213, 252, 0.775);
    border-radius: 25px;
    border: 2px solid rgb(126,136,151);
    padding: 20px;
    fill-opacity: 0.4;
}

.btn-primary {
    background-color: RGB(203,146,194);
    color: white;
    border-color: white;
}

.btn-primary:hover {
    background-color:
    RGB(203,146,194);
    color: white;
    border-color: white;
}

.btn-primary :active {
    background-color: darkgray;
    color: white;
    border-color: white;
}
h3 { color: gray;
    font-size: large;
    font-style: italic;

}